/* Prymery background color #e5e5e5 */
/* secondary background color #F5F4FA */
/* Titltle color #212121*/
/* Secondary color #757575 */
/* acсent color #2196F3 */
/* color white #ffffff */

:root {
  --background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --background-footer-color: #2f303a;
  --title-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --black-logo-color: #000000;
}

body {
  width: 1600px;

  background-color: var(--background-color);
  color: var(--title-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  outline: 1px solid tomato;
  width: 1200px;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
}

/* Шапка */
.header {
  background-color: var(--background-color);
  border-bottom: 1px solid var(--secondary-background-color);
}
.header .container {
  display: flex;
  align-items: center;
}
.nav-container {
  display: flex;
}

.logo,
.logo-footer {
  color: var(--accent-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}
.logo-header {
  display: block;
  margin: 24px 0 24px 15px;
}
.logo span {
  color: var(--black-logo-color);
}

/* Ссылки */
.site-nav {
  display: flex;
  align-items: center;
  padding: 0;
  margin-left: 93px;
}

/* Алтернативный вариант: .site-nav .item + .item { 
  margin-left 50px}
  применится margin-left
  только к тем, у кого есть сосед сверху в списке
  */

/* Применяется ко всему списку кроме последнего */
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.site-nav .link-nav {
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link-nav:hover,
.site-nav .link-nav:focus {
  color: var(--accent-color);
}

/* Контакты */
.link {
  display: flex;
  padding-left: 0px;
  margin-left: auto;
  margin-right: 15px;
}

.link .item + .item {
  margin-left: 50px;
}

.link .address {
  display: block;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.link .address:hover,
.link .address:focus {
  color: var(--accent-color);
}

/* Main СТУДИЯ */

/* Герой */
.hero {
  background-color: var(--background-footer-color);
  height: 600px;
}

.hero-text {
  display: block;
  margin: 0;
  padding-top: 200px;
  color: var(--background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero .button {
  display: block;
  border: 0;
  padding: 10px 29px 10px 29px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--background-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

/* Особенности */
.peculiarities .container {
  display: flex;
  flex-wrap: wrap;
}
.hidden-title {
  margin-left: auto;
  margin-right: auto;
}
.container .card-set {
  display: flex;
  padding: 0;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 0;
  margin-bottom: 0;
}
.container .item:not(:last-child) {
  margin-right: 30px;
}

.peculiarities .peculiarities-title {
  color: var(--title-color);
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
}
.peculiarities .peculiarities-description {
  color: var(--secondary-text-color);
  line-height: 1.71;
}

/* Чем мы занимаемся */

.our-work .container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 94px;
}
.container .work-card {
  display: flex;
  padding: 0;
  margin: 0 15px 0 15px;
}
.title-work {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}
.work-card .item {
  margin-top: 50px;
}
.work-card .item:not(:last-child) {
  margin-right: 30px;
}
.our-work .title-work,
.our-team .title-team {
  color: var(--title-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
/* Наша команда */
.our-team {
  height: 648px;
  background-color: var(--secondary-background-color);
}

.our-team .container {
  margin-top: 94px;
  display: flex;
  flex-wrap: wrap;
}
.container .title-team {
  padding-top: 94px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}
.container .team-card {
  display: flex;
  padding: 0;
  margin: 50px 15px 0 15px;
}
.team-card .item:not(:last-child) {
  margin-right: 30px;
}
.our-team .name {
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.our-team .position {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

/* Main  ПОРТФОЛИО */

/* Фильтр */
.project-buttons .container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 94px;
  margin-bottom: 94px;
}

.buttons-container .buttons-list {
  outline: 1px solid tomato;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: 2px;
  margin-bottom: 8px;
  width: 1200px;
}
.buttons-list .button {
  display: block;
  border: 0;
  border-radius: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
}
.buttons-list .project-link:not(:last-child) {
  margin-right: 8px;
}
.buttons-list .button {
  color: var(--title-color);
  background-color: var(--secondary-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.buttons-list .button:hover,
.buttons-list .button:focus {
  background-color: var(--accent-color);
  color: var(--background-color);
}
/* Проекты */
.container .project-list {
  outline: 1px solid tomato;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-left: 15px;
  margin-top: 12px;
  margin-right: -15px;
}

.project-list .example-project {
  outline: 1px solid tomato;
  margin-right: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 3 - 30px);
}
.object-text {
  outline: 1px solid tomato;
  margin: 20px 24px;
}

.project-list .title {
  outline: 1px solid tomato;
  margin: 0;

  color: var(--title-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-list .meaning {
  margin: 0;
  margin-top: 4px;

  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
/* Футер */

footer {
  height: 252px;
  background-color: var(--background-footer-color);
}

.logo-footer {
  display: block;
  padding-top: 60px;
  margin-top: 0;
  margin-left: 15px;
  margin-right: auto;
}
.footer-address {
  padding: 0;
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 0;
  margin-bottom: 60px;
}
.footer-address .link-footer:not(:first-child) {
  padding-top: 20px;
}

.logo-footer span {
  color: var(--background-color);
}
.address-link {
  color: var(--background-color);
  font-style: normal;
  line-height: 1.71;
}
.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}
.footer .address {
  color: var(--secondary-text-color);
  font-style: normal;
  line-height: 1.71px;
}
.footer .address:hover,
.footer .address:focus {
  color: var(--accent-color);
}
